---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";



/* Inject values for some bootstrap-related variables here
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

$enable-flex:               true;
$enable-shadows:            false;
$enable-transitions:        true;

/* Theme-related values here
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* font-face definition */
@font-face {/*generated automatically*/
	font-family: 'Roboto';/*generated automatically*/
	font-style: normal;/*generated automatically*/
	font-weight: 300;/*generated automatically*/
	src: url("{{site.baseurl}}/fonts/Roboto-normal-300.woff") format('woff');/*generated automatically*/
	unicode-range: U+0-10FFFF;/*generated automatically*/
}/*generated automatically*/
/*generated automatically*/
@font-face {/*generated automatically*/
	font-family: 'Roboto';/*generated automatically*/
	font-style: normal;/*generated automatically*/
	font-weight: 400;/*generated automatically*/
	src: url("{{site.baseurl}}/fonts/Roboto-normal-400.woff") format('woff');/*generated automatically*/
	unicode-range: U+0-10FFFF;/*generated automatically*/
}/*generated automatically*/
/*generated automatically*/
@font-face {/*generated automatically*/
	font-family: 'Roboto';/*generated automatically*/
	font-style: normal;/*generated automatically*/
	font-weight: 700;/*generated automatically*/
	src: url("{{site.baseurl}}/fonts/Roboto-normal-700.woff") format('woff');/*generated automatically*/
	unicode-range: U+0-10FFFF;/*generated automatically*/
}/*generated automatically*/
/*generated automatically*/
@font-face {/*generated automatically*/
	font-family: 'Roboto Condensed';/*generated automatically*/
	font-style: normal;/*generated automatically*/
	font-weight: 700;/*generated automatically*/
	src: url("{{site.baseurl}}/fonts/Roboto_Condensed-normal-700.woff") format('woff');/*generated automatically*/
	unicode-range: U+0-10FFFF;/*generated automatically*/
}/*generated automatically*/
/*generated automatically*/






@import "theme";

/* Changing a few default of Bootstrap 4
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-size-base: 1.1rem;

$spacer:                     1rem;
$spacer-x:                   $spacer;
$spacer-y:                   $spacer;
$spacers: (
  0: (x: 0, y: 0 ),
  1: (x: $spacer-x, y: $spacer-y ),
  2: (x: ($spacer-x * 2), y: ($spacer-y * 2) ),
  3: (x: ($spacer-x * 3), y: ($spacer-y * 3) ),
  4: (x: ($spacer-x * 4), y: ($spacer-y * 4) ),
  5: (x: ($spacer-x * 5), y: ($spacer-y * 5) ),
  6: (x: ($spacer-x * 6), y: ($spacer-y * 6) ),
  7: (x: ($spacer-x * 7), y: ($spacer-y * 7) ),
  8: (x: ($spacer-x * 8), y: ($spacer-y * 8) ),
  9: (x: ($spacer-x * 9), y: ($spacer-y * 9) ),
  10: (x: ($spacer-x * 10), y: ($spacer-y * 10) ),
  11: (x: ($spacer-x * 11), y: ($spacer-y * 11) ),
  12: (x: ($spacer-x * 12), y: ($spacer-y * 12) )
  );




/* Import sass files here
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// Import external librairies
@import "bootstrap/bootstrap";
@import "zee/feature3";
// end-extlib

//Import our own files
@import "zee/override-bootstrap";
@import "zee/utilities";

{% if site.zee_crisp_im %}
@import "crisp/crisp";
{% endif %}


//Import SCSS of sections here



@import "zee/navbar1";
@import "zee/hero2";
@import "zee/feature2";

@import "zee/feature4";

@import "zee/footer1";
