.hero2 {
    background-color: $brand-background;
    background-position-x: initial;
    background-position-y: bottom;
    background-size: 100%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
}

.hero2-button {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xl;
  @extend .btn-block;
  @include media-breakpoint-up(md) {
    margin-left: 0.3rem;
  } 
  @include media-breakpoint-down(sm) {
    margin-top: 0.3rem;
  }
  max-width: 15rem;
}

.hero2-main-heading {
    font-size: $font-size-h1 * 1.2;
}
.hero2-sub-heading {
    font-size: $lead-font-size * 1.5;
}