<section class="feature4" id='feature4'>
  <div class="container">
    <div class="row">
      <div class="feature4__text-left">
        <h3>Segregatory Reklamowe <span class="text-muted"></span></h3>

        <div class='separator' style="margin-top:0.5rem"></div>
        <p>
          Szukasz niebanalnej formy prezentacji, nowych pomysłów dla biura, nowych form reklamy?
          Stwórz swoją wizytówkę w postaci <strong>segregatora z firmowym nadrukiem</strong>, a klienci na pewno to zauważą. A może chcesz stworzyć <strong>katalog ofertowy lub szkoleniowy</strong>? Segregatory sprawdzą się w tej roli znakomicie.
          Oferujemy segregatory wysokiej jakości, drukowane cyfrowo, zabezpieczone eleganckim laminatem, tak aby służyły Ci jak najdłużej.
        <table class="table-striped">
          <tbody>
          <tr>
            <td>
              Formaty:
            </td>
            <td>
              A4, A5, Pionowe lub poziome.
            </td>
          </tr>
          <tr>
            <td>Szerokość: </td>
            <td>Od 22mm do 100mm | Pojemność od 9mm do 65mm wkładu</td>
          </tr>

          <tr>
            <td>
              Mechanizmy:
            </td>
            <td>
              Dźwigniowe, 2-ringowe, 4-ringowe.
            </td>

          </tr>
          <tr>
            <td>
              Dodatki:
            </td>
            <td>
              Kółko grzbietowe, Oczka Rado, Kieszonka grzbietowa, Kieszonka trójkątna, Kieszonka na wizytówkę, Kieszonka na płytę dvd.
            </td>
          </tr>
          <tr>
            <td>
              Uszlachetnienie:&nbsp;
            </td>
            <td>
              Folia błyszcząca, matowa, matowa nierysująca, folia o strukturze lnu.
            </td>
          </tr>
          </tbody>
        </table>
        </p>
        <button class="btn  btn-outline-primary">View the new design</button>
      </div>
      <div class="feature4__img-right">
        <div class='feature1__sub-image' >
          <object>
            <embed src="image/seg01.png" style="width: 100%; height: auto;" />
          </object>
        </div>
      </div>
    </div>
  </div>    


  <div class='separator m-t-4 hidden-lg-up'></div>
  <div class='separator m-t-3 hidden-md-down'></div>


  <div class="container">
    <div class="row">
      <div class="feature4__text-right">
        <h3>Teczki Skrzydłowe<span class="text-muted"></span></h3>
        <div class='separator' style="margin-top:0.5rem"></div>
        <p class=" ">Produkujemy teczki różnego typu i w różnych rozmiarach, jednym słowem na każdą okazję. Proponujemy <strong>teczki skrzydłowe, teczki z plastikowymi bokami, zamykane na gumkę, rzepy lub napy oraz teczki z rączką</strong>. Nasze wzmocnione teczki, możesz wykorzytać nie tylko do przechowywania dokumentów, z powodzeniem sprawdzą się w roli katalogu szkoleniowego, np. w postaci <strong>teczki-segregatora</strong> (teczka z wbudowanym mechanizmem segregatora).
        <table class="table-striped">
          <tr>
            <td>
              Formaty:
            </td>
            <td>
              A4, A5.
            </td>
          </tr>
          <tr>
            <td>Głębokość: </td>
            <td>Od 20 do 100mm</td>
          </tr>

          <tr>
            <td>
              Zapięcia:
            </td>
            <td>
              Rzep Dual Lock, Napy, Zapięcie Magnesowe.
            </td>

          </tr>
          <tr>
            <td>
              Dodatki:
            </td>
            <td>
              Kieszonka trójkątna, Kieszonka na wizytówkę, Kieszonka na płytę dvd, Klips na długopis.
            </td>
          </tr>
          <tr>
            <td>
              Uszlachetnienie:&nbsp;
            </td>
            <td>
              Folia błyszcząca, matowa, matowa nierysująca, folia o strukturze lnu.
            </td>
          </tr>
        </table>
      </p>
        <button class="btn  btn-outline-primary">View the new design</button>
      </div>
      <div class="feature4__img-left">
        <div class='feature1__sub-image' >
          <object>
            <embed src="image/teczka0.png" style="width: 100%; height: auto;" />
          </object>
        </div>
      </div>
    </div>
  </div>

  <div class='separator m-t-4 hidden-lg-up'></div>
  <div class='separator m-t-3 hidden-md-down'></div>

  <div class="container">
    <div class="row">
      <div class="feature4__text-left">
        <h3>Teczki z rączką <span class="text-muted"></span></h3>

        <div class='separator' style="margin-top:0.5rem"></div>
        <p>
          Teczki z rączką, kuferki, to jeden z naszych typów teczek, szczególnie przydających się w szkolnictwie. Korzystają z nich uczniowie, do noszenia swoich szkolnych rzeczy, książek, zeszytów, a także wszyscy, którzy chcą szybko i wygodnie przenosić swoje dokumenty.
        <table class="table-striped">
          <tr>
            <td>
              Formaty:
            </td>
            <td>
              A4, A5.
            </td>
          </tr>
          <tr>
            <td>
              Głębokość:
            </td>
            <td>
              50mm, 90mm.
            </td>

          </tr>
          <tr>
            <td>
              Uchwyty:
            </td>
            <td>
              Plastikowe, Parciane.
            </td>
          </tr>
          <tr>
            <td>
              Zapięcia:
            </td>
            <td>
              Zamek plastikowy, napy, rzepy, magnes.
            </td>
          </tr>
          <tr>
            <td>
              Uszlachetnienie:&nbsp;
            </td>
            <td>
              Folia błyszcząca, matowa, matowa nierysująca, folia o strukturze lnu.
            </td>
          </tr>
        </table>
      </p>
        <button class="btn  btn-outline-primary">View the new design</button>
      </div>
      <div class="feature4__img-right">
        <div class='feature1__sub-image' >
          <object>
            <embed src="image/teczka-raczka.png" style="width: 100%; height: auto;" />
          </object>
        </div>
      </div>
    </div>
  </div>
  <div class="separator m-t-4" />
</section>
