<section class="feature3" id='feature3'>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-sm-2">
        <h2 class=" big-title text-xs-center">Przykładowe Realizacje</h2>
        <div class="separator m-t-4"></div>
      </div><!-- ./col -->
    </div><!-- ./row -->
    <div id="gallery__grid" class="container-fluid gallery__grid" data-element="gallery-item">
      <!-- Begin div .row 1 -->
      <div class="row">
        <div class="col-md-4 gallery__column">
          <a class="lightbox" href="../image/works/segregator_zamykany-01.jpg">
            <img class="img-fluid gallery-item" src="../image/works/segregator_z_nadrukiem-01-s.jpg" alt="gallery thumbnail"/>
          </a>
        </div>

        <div class="col-md-4 gallery__column">
          <a class="lightbox" href="../image/works/segregatory_reklamowe-02.jpg">
            <img class="img-fluid gallery-item" src="../image/works/segregatory_reklamowe-02-s.jpg" alt="gallery thumbnail">
          </a>
        </div>

        <div class="col-md-4 gallery__column">
          <a class="lightbox" href="../image/works/segregator_reklamowy-01.jpg">
            <img class="img-fluid gallery-item" src="../image/works/segregator_reklamowy-01.jpg" alt="gallery thumbnail">
          </a>
        </div>
      </div><!-- end div .row 1 -->

      <!-- Begin div .row 2 -->
      <div class="row">
        <div class="col-md-4 gallery__column">
          <a class="lightbox" href="../image/works/teczka-seg02.jpg">
            <img class="img-fluid gallery-item" src="../image/works/teczka-seg02s.jpg" alt="gallery thumbnail">
          </a>
        </div>

        <div class="col-md-4 gallery__column">
          <a class="lightbox" href="../image/works/teczka-skrzydlowa-01.jpg">
            <img class="img-fluid gallery-item" src="../image/works/teczka-skrzydlowa-01-s.jpg" alt="gallery thumbnail">
          </a>
        </div>

        <div class="col-md-4 gallery__column">
          <a class="lightbox" href="../image/works/teczki_z_boczkami-01.jpg">
            <img class="img-fluid gallery-item" src="../image/works/teczki_z_boczkami-01.jpg" alt="gallery thumbnail">
          </a>
        </div>
      </div><!-- end div .row 2 -->

      <!-- Begin div .row 3 -->
      <div class="row">
        <div class="col-md-4 gallery__column">
          <a class="lightbox" href="../image/works/teczka-zamek01.jpg">
            <img class="img-fluid gallery-item" src="../image/works/teczka-zamek01s.jpg" alt="gallery thumbnail">
          </a>
        </div>

        <div class="col-md-4 gallery__column">
          <a class="lightbox" href="../image/works/teczka-zraczka03.jpg">
            <img class="img-fluid gallery-item" src="../image/works/teczka-zraczka03-s.jpg" alt="gallery thumbnail">
          </a>
        </div>

        <div class="col-md-4 gallery__column">
          <a class="lightbox" href="../image/works/teczki_z_raczka-01.jpg">
            <img class="img-fluid gallery-item" src="../image/works/teczki_z_raczka-01-s.jpg" alt="gallery thumbnail">
          </a>
        </div>
      </div><!-- end div .row 3 -->
    </div><!-- end div .grid -->
  </div><!-- ./container -->
  <div class='separator m-t-9'></div>
</section>
