<section class='feature2' id='feature2'>
  <div class='container'>
    <div class='separator p-t-6'></div>
    <div class='row'>
      <div class='col-xs-12 col-sm-8 offset-sm-2'>
        <h2 class=' big-title text-xs-center'> Czym się charakteryzują nasze produkty?</h2>
      </div><!-- ./col -->
    </div><!-- ./row -->
    <div class='separator p-t-3'></div>
    <div class='row'>
      <div class='col-lg-4 text-xs-center feature1__sub'>
        <img class="img-services" src="images/icons/info-01.png" alt="">
        <div class='separator p-t-1 hidden-md-down'></div>
        <h5 class='small-title'>Dowolna Konfiguracja</h5>
        <p class='feature1__sub-text small-text'>Nasze produkty wykonujemy w różnych rozmiarach, wersjach, konfiguracjach. Sam określasz, co Ci jest potrzebne w Twoim biurze. Ponieważ, niezawsze jest to oczywiste i proste, chętnie doradzimy, i pomożemy Ci w dobraniu odpowiednich opcji.</p>
      </div><!-- /.col-lg-4 -->
      <div class='col-lg-4 text-xs-center feature1__sub'>
        <div class='separator p-t-1 hidden-lg-up'></div>
        <img class="img-services" src="images/icons/info-02.png" alt="">
        <div class='separator p-t-1 hidden-md-down'></div>
        <h5 class='small-title'>Dowolny Nadruk</h5>
        <p class='feature1__sub-text small-text'>Każdy segregator, teczka, czy clipboard może mieć dowolny nadruk według Twojego projektu, nie tylko na zewnątrz, ale również w środku. Wykorzystujemy nowoczesny druk cyfrowy lub offsetowy.</p>
      </div><!-- /.col-lg-4 -->
      <div class='col-lg-4 text-xs-center feature1__sub'>
        <div class='separator p-t-1 hidden-lg-up'></div>
        <img class="img-services img-margin" src="images/icons/info-03.png" alt="">
        <div class='separator p-t-1 hidden-md-down'></div>
        <h5 class='small-title'>Efektowne wykończenie</h5>
        <p class='feature1__sub-text small-text'>To jest to czym wyróżniamy Twoje produkty, umiejętne dobranie elementów obróbki końcowej, takich jak rodzaj folii, czy lakieru UV, gwarantuje wyjątkowy i niepowtarzalny, trwały charakter ozdabianego przedmiotu.</p>
        <div class='separator m-t-8 hidden-sm-down'>&nbsp;</div>
        <div class='separator m-t-4 hidden-md-up'>&nbsp;</div>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
