
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer class="footer1" id="footer1">
    <div>
    <div class='separator m-t-0'>&nbsp;</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4  col-md-4 col-sm-4 col-xs-4">
                    <objec>
                        <embed src="image/logo_small.png" style="width: 100%; height: auto;"/>
                    </objec>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-4 col-xs-4">
                    <p class=' lead'><strong>Kontakt:</strong> </p>
                    <p>
                        <i class="fa fa-phone"></i> (58) 683 60 50 <br/>
                        <i class="fa fa-envelope"></i> kontakt@segregatory24.pl
                    </p>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-4 col-xs-4">
                    <p class=' lead'><strong>Segregatory24.pl</strong> </p>

                        <p>ul. M. Płażyńskiego 6 <br>83-020 Cedry Wielkie</p>

                </div>

            </div><!--/.row--> 
        </div><!--/.container--> 
    </div><!--/.footer-->
    

</footer>