<section class='hero2'>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">

        <h1 class='hero-title'>
          <div class="separator m-t-4 hidden-md-up">&nbsp;</div>
          <div class="separator m-t-6 hidden-sm-down">&nbsp;</div>
          <div class='hero2-main-heading'>
            <object>
              <embed src="image/s24_logo.svg" style="width: 100%; height: auto;"/>
            </object>
            Segregatory<br/>
            Teczki<br/>
            Clipboardy<br/>
          </div>
        </h1>

        <div class="hero2-sub-heading">
          W Twoim Stylu!
        </div>

        <div class="separator p-t-1"></div>

        <div class="">
          <!--<button type="submit" class="hero2-button js-main-cta">Call to action</button>-->
        </div>
        <div class="separator m-t-6 hidden-md-up">&nbsp;</div>
        <div class="separator m-t-1 hidden-sm-down">&nbsp;</div>
      </div><!-- ./col -->
      <div class="col-lg-8">
        <object>
          <embed src="image/packshot_800.png" style="width: 100%; height: auto;" />
        </object>
      </div>
    </div><!-- ./row -->
  </div><!-- ./container -->
</section>
