
<nav class='navbar1'>
  <div class='container h-100'>
    <div class="navbar1__bar">
      <div>
        <a href="#hero">&uarr; top</a>
      </div>
      <div class='hidden-xs-down'>
        <a href="#feature3">Galeria</a>
      </div>
      <div class='hidden-xs-down'>
        <a href="#love"><small>♥♥♥</small></a>
      </div>
      <div>
        <button class="navbar1__btn js-main-cta"> <i class="fa fa-phone"></i>   (58) 683 60 50 </button>
      </div>
      <div class='hidden-sm-up'>
        <div>&nbsp;</div>
      </div>
    </div>
  </div>
</nav>
