.crisp-client .crisp-1 .crisp-6 {
  background-color: $brand-primary !important;
}
.crisp-client .crisp-1 .crisp-12 {
  border-color: $brand-primary !important;
}
.crisp-client .crisp-1 .crisp-10 {
  border-color: $brand-primary !important;
}
