<!DOCTYPE html>
<html lang="{{ page.lang | default: 'pl' }}">

  {% include head.html %}

  <body>

    <main class="main" aria-label="Content">
      {{ content }}
    </main>

    <!--startjs-->
      {% include javascript/bootstrap/jquery.js.html %}
      {% include javascript/bootstrap/holder.js.html %} 
      {% include javascript/bootstrap/tether.js.html %} 
      {% include javascript/bootstrap/bootstrap.js.html %} 
      {% include javascript/ga/ga.js.html %} 
      {% include javascript/crisp/crisp.js.html %} 

		  {% include javascript/zee/goal1.js.html %}
		  {% include javascript/zee/navbar1.js.html %}
          {% include javascript/zee/feature3.js.html %}

		<!--endjs-->

  </body>

</html>